<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="style/bootstrap.css" media="all" />
    <link rel="stylesheet" type="text/css" href="style/theme.css" media="all" />
	<title>Trang chủ</title>
    <script src="js/jquery-1.7.1.min.js"></script>
	</head>
	<body>
<div id="container">
      <div class="main clearfix">
    	<div class="inner-container">
        	<ul class="pathway clearfix">   	  	    	    	      
                <li><a href="DatVe">1. Tìm chuyến bay</a></li>
                <li><a href="DatVe-B2">2. Chọn chuyến bay</a></li>
                <li><a href="DatVe-B3">3. Thông tin hành khách</a></li>
                <li class="active"><a href="DatVe-B4-error">4. Thanh toán</a></li>
            </ul>
            <div class="box-main clearfix">
            	<div class="col-left" style="width: 625px;">
                	<div class="plane-detail clearfix">
                    <div class="welcome">
				<h3>Bạn đã đặt vé thành công</h3>
				<ul class="form-style">
                    <li>
                        Mã đặt chỗ của bạn là <strong class="clred">DAIOEP</strong>.
                    </li>

                    <li>Vui lòng thanh toán toán ngay hoặc sử dụng mã này để thanh toán trên các kênh khác trong vòng 1 giờ.</li>
                    <li>Thông tin xác nhận đặt vé đã được gửi đến số điện thoại <strong>0977084686</strong> và email <a class="under" href="#">haonv@vnpay.vn</a></li>
                </ul>
                <div class="button-back">
            <p align="center">
                <a href="#" class="back-home">Quay lại đặt vé</a>
                <input type="submit" value="Thanh toán ngay" class="btn-pay" pmbx_context="8E1BB81D-73CB-418A-8915-2F20FAB4D3A9">
            </p>
        </div>
			</div>
                    
                    <div class="title">
                        <h2>Quý khách có thể chọn các hình thức thanh toán khác dưới đây:</h2>
                        <div class="icon-title"> </div>
                    </div>
                    
<div class="panel-group box-vban" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title vban-title-style active" id="heading1">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
          <span>Thanh toán trực tuyến tại VBAN:</span>
        </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       <table class="vban-table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="address">
                                    <p>
                                        <strong>1. <a href="https://www.vban.vn/dich-vu/Dich-vu/tabid/68/view/bookingdetails/Default.aspx">
                                            https://www.vban.vn</a></strong>
                                    </p>
                                    <p>
                                        <strong>2. <a href="http://vnticket.vn/thanh-toan">https:www.vnticket.vn</a></strong>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title vban-title-style active" id="heading2">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
          <span>Kênh Internet Banking</span>
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse" role="tabpanel" aria-labelledby="heading2">
      <div class="panel-body">
       <table class="vban-table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="address">
                                    <p>
                                        <strong>1. <a href="#">Ngân hàng Sacombank </a></strong>
                                    </p>
                                    <p>
                                        <strong>2. <a href="#">Ngân hàng Vietinbank </a></strong>
                                    </p>
                                    <p>
                                        <strong>3. <a href="#">Ngân hàng VPBank </a></strong>
                                    </p>
                                    <p>
                                        <strong>4. <a href="#">Ngân hàng SCB </a></strong>
                                    </p>
                                    <p>
                                        <strong>5. <a href="#">Ngân hàng HDBank </a></strong>
                                    </p>
                                    <p>
                                        <strong>6. <a href="#">Ngân hàng Nam Á </a></strong>
                                    </p>
                                    <p>
                                        <strong>7. <a href="#">Ngân hàng OCB </a></strong>
                                    </p>
                                    <p>
                                        <strong>8. <a href="#">Ngân hàng PVComBank </a></strong>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title vban-title-style active" id="heading3">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
          <span>Kênh SMS</span>
        </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse" role="tabpanel" aria-labelledby="heading3">
      <div class="panel-body">
       <table class="vban-table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="address">
                                    <p>
                                        <strong>1. <a href="#">Ngân hàng Agribank</a></strong>
                                    </p>
                                    <p>
                                        <strong>2. <a href="#">Ngân hàng SCB</a></strong>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title vban-title-style active" id="heading4">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
          <span>Thanh toán tại quầy giao dịch Ngân hàng</span>
        </a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse" role="tabpanel" aria-labelledby="heading4">
      <div class="panel-body">
       <table class="vban-table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="address">
                                    <p>
                                        <strong>1. <a href="#">Ngân hàng SacomBank</a></strong>
                                    </p>
                                    <p>
                                        <strong>2. <a href="#">Ngân hàng SCB</a></strong>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title vban-title-style active" id="heading5">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
          <span>Nộp tiền tại Công ty TNHH Vé máy bay trực tuyến Việt Nam</span>
        </a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse" role="tabpanel" aria-labelledby="heading5">
      <div class="panel-body">
       <table class="vban-table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="address">
                                    <p>
                                    <strong class="clred">Liên hệ: 1900 5555 20</strong><br>
                                       P.804A - Số 22, Phường Láng Hạ, Quận Đống Đa, Hà Nội
                                        
                                        </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
      </div>
    </div>
    
  </div>
  
  
</div>       
                	
                </div>
                </div>
                <div class="col-right">
                	<div class="summary">
                <h3>
                    Thông tin đặt vé
                </h3>
                <div class="summary-cont clearfix">
                        <div class="box-col clearfix">
                            <div class="fl">
                                <strong>Mã đặt chỗ:</strong>
                            </div>
                            <div class="fr">
                                <strong class="clred">DAIOEP</strong>
                            </div>
                        </div>
                        <div class="box-col clearfix">
                            <div class="fl">
                                Trạng thái:
                            </div>
                            <div class="fr">
                                <strong>Chờ xác nhận</strong>
                            </div>
                        </div>
                    <div class="box-col clearfix">
                        <div class="fl">
                            Chuyến bay
                        </div>
                        <div class="fr">
                                <span>Khứ hồi</span>
                        </div>
                    </div>
                        <div class="box-col clearfix">
                        <div class="title-summary">Chiều đi</div>
                        <div class="box-col-cont clearfix">
                        <div class="box-col clearfix">
                            <div class="fl">
                                Ngày đi:
                            </div>
                            <div class="fr">
                               25/04/2016
                            </div>
                        </div> 
                        <div class="box-col clearfix">
                            <div class="fl">
                                Nơi đi:
                            </div>
                            <div class="fr">
                                Hanoi, VN (HAN) 12:35
                            </div>
                        </div>
                        <div class="box-col clearfix">
                            <div class="fl">
                                Nơi đến:
                            </div>
                            <div class="fr">
                               Jakarta Jkt, ID (JKT) 12:35
                            </div>
                        </div>  
                        </div>
                        </div>
                        <div class="box-col clearfix">
                        <div class="title-summary">Chiều về</div>
                        <div class="box-col-cont clearfix">
                        <div class="box-col clearfix">
                            <div class="fl">
                                Ngày đi:
                            </div>
                            <div class="fr">
                               02/05/2016
                            </div>
                        </div> 
                        <div class="box-col clearfix">
                            <div class="fl">
                                Nơi đi:
                            </div>
                            <div class="fr">
                                Jakarta Jkt, ID (JKT) 12:35
                            </div>
                        </div>
                        <div class="box-col clearfix">
                            <div class="fl">
                                Nơi đến:
                            </div>
                            <div class="fr">
                               Hanoi, VN (HAN) 12:35
                            </div>
                        </div>  
                        </div>
                        </div>
                                            <div class="box-col clearfix">
                            <div class="title-summary">
                                Hành khách</div>
                            <div class="box-col-cont clearfix">
                                    <div class="box-col clearfix">
                                        <span class="fl">1. Nguyen Van A</span>
                                    </div>
                                    <div class="box-col clearfix">
                                        <span class="fl">2. Nguyen Van B</span>
                                    </div>
                                    <div class="box-col clearfix">
                                        <span class="fl">3. Nguyen Van C</span>
                                        <span class="fr">15/04/2014</span>
                                    </div>
                                    <div class="box-col clearfix">
                                        <span class="fl">4. Nguyen Van D</span>
                                        <span class="fr">06/04/2016</span>
                                    </div>
                            </div>
                        </div>
                        <div class="box-col clearfix">
                            <div class="title-summary">
                               Thông tin liên hệ</div>
                            <div class="box-col-cont clearfix">
                                    <div class="box-col clearfix">
                                        <span class="fl">Họ tên</span>
                                        <span class="fr">Nguyen Van A</span>
                                    </div>
                                    <div class="box-col clearfix">
                                        <span class="fl">Số điện thoại</span>
                                        <span class="fr">0977084686</span>
                                    </div>
                                    <div class="box-col clearfix">
                                        <span class="fl">Email</span>
                                        <span class="fr">haonv@vnpay.vn</span>
                                    </div>
                            </div>
                        </div>
                    <div class="box-sumcol clearfix">
                        <div class="fl">
                            <strong>TỔNG TIỀN</strong>
                        </div>
                        <div class="fr">
                            <strong class="clred">4,887,000 VNĐ  </strong>
                        </div>
                    </div>
                </div>
            </div>
                </div>
                
            </div>
            
        </div>
    
 	  </div>
</div>


<script src="js/bootstrap.min.js"></script>
</body>
</html>
