<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="style/theme.css" media="all" />
	<title>Trang chủ</title>
	<script src="js/jquery-1.7.1.min.js"></script>
	<script src="js/slides.min.jquery.js"></script>
	<script>
		$(function(){
			$('#slides').slides({
				generateNextPrev: true,
				play: 5000
			});

		});
	</script>
	</head>
	<body>
<div id="container">
      <div class="main clearfix">
    	<div class="inner-container">
        	<ul class="pathway clearfix">   	  	    	    	      
                <li><a href="DatVe">1. Tìm chuyến bay</a></li>
                <li><a href="DatVe-B2">2. Chọn chuyến bay</a></li>
                <li><a href="DatVe-B3">3. Thông tin hành khách</a></li>
                <li class="active"><a href="DatVe-B4">4. Thanh toán</a></li>
            </ul>
            <div class="box-main clearfix">
            	<div class="col-left" style="width: 100%;">
                	<div class="plane-detail clearfix">
                    <div class="notice">
                    <h3>Yêu cầu đặt vé không thành công</h3>
                    <ul class="form-style">
                        <li>Vui lòng chọn lại hành trình hoặc liên hệ <strong class="hotline-plane">1900 5555 20</strong> để được hỗ trợ</li>
                    </ul>
                </div>
                    <div class="button-back">
            <p align="center">
                <a href="/iframeticket/" class="back-home">Quay lại đặt vé</a>                
            </p>
        </div>
                	
                </div>
                </div>
                <div class="col-right">
                	
                </div>
                
            </div>
            
        </div>
    
 	  </div>
</div>



</body>
</html>
